.lesson-content{
    margin-left: 35px;
}
.lesson-content-inner{
    margin-top: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.single-lesson-wrapper{
    margin: 0;
}
.lesson-content-inner > div:first-child{
    width: 29%;
}
.lesson-content-inner > div:last-child{
    width: 69%;
}
.lesson-content-inner-full{
    margin-left: 185px;
}
.course-overview .lesson-content-inner > div:last-child{
    width: 100%;
}
.lesson-homework-mark{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 25px;
    background: #202b68;
    color: #fff;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 100;
    text-decoration: underline;
}
.lesson-homework-mark img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.title{
    margin-top: 35px;
    margin-bottom: 25px;
}
.single-course .title{
    margin-bottom: 15px;
    color: #333333;
    font-size: 22px;
}
.course-content-title{
   margin-bottom: 15px;
}
.overview-wrapper{
    padding: 25px;
    border: 1px solid #DEDEDE;
    border-radius: 15px;
}

.overview-inner{
    margin-bottom: 35px;
}
.overview-inner:last-child{
    margin-bottom: 0;
}

.overview-heading{
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
}
.overview-item{
    position: relative;
    margin-bottom: 5px;
    padding: 15px 25px 15px 25px;
    background-color: #F1F5F9;
    border-radius: 5px;
    cursor: pointer;
}
.overview-item:last-child{
    margin-bottom: 0;
}
.overview-item-title{
    font-size: 14px;
}
.overview-item.inactive,
.overview-item.resubmission{
    padding-top: 40px;
}
.overview-wrapper.single-course{
    padding-top: 45px;
    border-radius: 0 20px 20px 0;
    border: unset;
    box-shadow: 0px 16px 48px -4px rgb(0 0 0 / 10%);
    height: 100%;
    position: static;
    z-index: 98;
    background-color: #fff;
}
.back-to-button{
    position: relative;
    margin-bottom: 35px;
    color:#787878;
}
.back-to-button::before{
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%); 
    background-image: url('/public/assets/img/icons/chevron-left.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px; 
}
.back-to-button:hover{
    text-decoration: underline;
}
.activity{
    margin-top: 10px;
    margin-bottom: 35px;
    display: flex;
}
.activity img{
    width: 16px;
    height: 16px;
    margin-right: 7px;
}
.overview-item-link{
    position: relative;
}
.overview-item-link::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%); 
    background-image: url('/public/assets/img/icons/arrow-up-right.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px; 
}
.player{
    border-radius: 15px;
    overflow: hidden;
    height: 500px;
}

.single-course .overview-inner:last-child{
    margin-bottom: 150px;
}
.lecture-status{
    position: absolute !important;
    top: 15px;
    right: 0;
}
.lecture-status p:nth-child(1){
    font-size: 11px;
}
.lecture-status p{
    margin-right: 5px;
    font-size: 9px;
    color: #1d8b13;
    font-weight: bold;
}
.status-score{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.course-player{
    position: relative;
}
.video-ended-controls {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 90;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.video-ended-text{
    color: #fff;
    margin-bottom: 25px;
}
.video-ended-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rewatch-btn {
    width: 100%;
    max-width: 150px;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}
.rewatch-btn:hover {
  opacity: 0.3;
}

.button-step{
    background: unset !important;
    border: 1px solid #1858f3 !important;
    margin: 0 10px;
}
.inactive{
    opacity: 0.6;
}
.current-lesson{
    border: 1px solid #073FC2;
}
.current-lesson{
    border: 1px solid #073FC2;
}
.disabled{
    position: relative;
}
.disabled::after{
    content: 'Finish the previous lesson to unlock this content';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #071257e3;
    color: #fff;
    z-index: 10;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    padding: 0 25px;
    cursor: not-allowed;
}
.disabled::before{
        content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 11;
    background-image: url('/assets/img/icons/lock.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 14px;
    transform: translateY(-50%);
}
.has-homework{
    position: relative;
}
.has-homework::before{
    content: '';
    position: absolute;
    top: 1px;
    left: -17px;
    z-index: 11;
    background-image: url('/assets/img/icons/homework.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 14px;
}
.lecture-status .resubmission{
  color: #c57712;
  font-weight: bold;
}

.wrapper{
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    box-shadow: 0px 16px 48px -4px rgb(0 0 0 / 10%);
    border-radius: 20px;
}
.materials{
    margin-bottom: 15px;
}
.thumbnail-container{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px dashed #073FC2;
    border-radius: 5px;
}
.thumbnail-img{
    max-width: 300px;
}
.thumbnail-container span{
    cursor: pointer;
    color: #073FC2;
    text-decoration: underline;
}
.cancel-button{
  margin-top: 10px;
  background-color: #f3184f !important;
  color: #fff;
}
.back-button{
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 25px;
    cursor: pointer;
}
.share-btn{
    display: flex;
}


.video-wrapper {
  position: relative;
  max-width: 100%;
}

.video-container video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.controls {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.controls button {
  padding: 8px 12px;
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.homework-wrapper{
    min-height: 200px;
    margin-bottom: 0;
}
.homework-wrapper .title{
    margin-top: 0;
    margin-bottom: 10px;
}
.homework-wrapper .title:nth-of-type(2){
    margin-top: 15px;
}
.lesson-desc{
    margin-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #DEDEDE;
}
.homework-materials{
    margin-top: 15px;
    padding: 25px;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
}
.homework-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homework-btn {
    text-decoration: underline;
    color: #1d8b13;
    font-size: 12px;
}


.arrow {
  font-size: 1.25rem;
  transition: transform 0.2s ease;
}

.homework-btn:hover .arrow {
  transform: translateX(4px);
}

.homework-materials h6{
    margin-bottom: 5px;
}
.homework-title:nth-of-type(2){
    margin-top: 15px;
    margin-bottom: 10px;
}
.homework-zone textarea{
    margin: 10px 0;
}
.homework-zone button{
    margin-top: 25px;
}

.homework-feedback{
    margin-bottom: 25px;
    padding: 25px;
    box-shadow: 0px 1px 11px 6px rgb(235 134 0 / 10%);
}
.feedback-title{
    font-size: 17px;
    font-weight: 300;
    color: #c57712;
    margin-bottom: 10px;
}
.done-container .feedback-title{
    font-size: inherit;
    color: inherit;
}
.done-container .feedback{
    color: #787878;
    text-decoration: none;
}
.done-container .homework-feedback{
   box-shadow: 0px 1px 11px 6px #07125712;
}
.done-text{
    text-align: center;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 700;
    color: #071257;
}
.feedback{
    padding: 0 25px;
    text-decoration: underline;
}

.course-finished-banner {
  background-color: #dcfce7;
  color: #065f46;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-align: center;
  border: 2px solid #bbf7d0;
}
.course-finished-review{
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.course-finished-review p{
    font-size: 12px;
    text-align: center;
    color: #adadad;
}
.course-finished-review button{
    margin-top: 10px;
    font-size: 12px;
    color: #071257;
    text-decoration: underline;
    font-weight: 600;
}
.reviews-title{
    margin-top: 25px;
    margin-bottom: 30px;
}
.reviewCard {
  margin: 15px 0;
  background-color: #f9f9f9;
  padding: 12px 16px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.1);
}

.rating {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
}

.ratingNumber {
  font-weight: 600;
  color: #444;
}

.reviewText {
    padding: 0px 75px;
  font-size: 13px;
  color: #333;
  font-style: italic;
}

.reviewer {
  font-size: 0.85rem;
  color: #666;
  text-align: right;
}
.avatar {
    margin-right: 10px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    max-height: unset;
    max-width: unset;
}
.rewiever-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rewiever-info > div:first-child{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 768px) {
  .lesson-content-inner{
    flex-direction: column;
    margin: 15px !important;
  }
   .lesson-content-inner > div:first-child{
    width: 100%;
    margin-bottom: 25px;
   }
   .overview-wrapper.single-course{
    padding: 20px;
    position: relative;
   }
   .title{
    font-size: 19px;
   }
   .overview-heading{
    font-size: 15px;
   }
   .overview-item > p{
    font-size: 12px;
   }
   .single-course .overview-inner:last-child{
    margin-bottom: 0;
   }
     .collapsible-wrapper {
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .collapsed {
    max-height: 0;
  }

  .expanded {
    max-height: 1000px; 
  }

  .collapse-toggle-button {
    margin-bottom: 10px;
    padding: 8px 12px;
    background-color: #3d5afe;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
  }
  .content-to-button{
    position: absolute;
    font-size: 12px;
    right: 15px;
    top: 25px;
    color: #071257;
    text-decoration: underline;
  }
  .back-to-button{
    margin-bottom: 0;
  }
  .lesson-content-inner > div:last-child{
    width: 100%;
  }
    .course-purchased .header-image{
        position: relative;
        padding: 50px 25px;
    }
}
@media screen and (max-width: 480px) {
  .wrapper{
    padding: 15px;
  }
}