.container {
  display: flex;
  padding: 4px;
  gap: 4px;
  margin: 24px 0;
  max-width: max-content;
  border-radius: 6px;
  border: 1px solid #dedede;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.18);
}

.button {
  padding: 8px 20px;
  border-radius: 9999px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  color: #ccc;
}

.active {
  background-color: #1858F3;
  color: #fff;
}

.modal-wrapper{
  max-width: 400px; 
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #dedede;
  border-radius: 15px;
  margin-bottom: 25px;
  padding: 25px;
}
.input {
  margin: 15px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 8px 12px;
}

.input:focus {
    padding: 10px 15px;
  border-color: #1858F3;
  box-shadow: 0 0 0 3px rgba(47, 95, 255, 0.2);
}