*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: 0 !important;
  -webkit-appearance: none;
}

body {
  font-family: 'Geologica', sans-serif;
  font-size: 14px;
  color: #0F172A;
  font-weight: 300;
}
ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  transition: all 0.3s ease;
}
a:hover,
button:hover{
  opacity: 0.9;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Wadik', sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  margin: 0;
  color: #333333;
}

a {
  display: block;
  background-color: transparent;
  text-decoration: none;
  transition: 0.3s ease;
  opacity: 1;
}


button, input, optgroup, select, textarea {
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  display: block;
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 1;
}
/* section, footer {
  max-width: 950px;
  width: 100%;
  margin: 35px auto;
  border-radius: 15px;
} */
.input{
  width: 100%;
  padding: 5px;
  padding-left: 0;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #f7faff;
  font-size: 12px;
}
.textarea{
  width: 100%;
  height: 100px;
  padding: 5px;
  padding-left: 0;
  resize: none;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #f7faff;
  font-size: 12px;
}
.main-title{
  font-size: 30px;
  color: #fff;
}
.main-title span{
  color: #A273FF;
}

.auth-footer{
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.page-template{
  display: flex;    
  height: 100%;
  margin-bottom: 200px;
}

.content{
  margin-left: 228px;
  transition: all 0.3s ease;
  flex: 1 1;
}
.content.full-width{
  margin-left: 65px;
}
.content-inner{
  margin-top: 95px;
  margin-left: 25px;
  margin-right: 25px;
}
.content-inner.full-width{
  margin-left: 90px;
}
.secondary-title{
    font-size: 22px;
}
.third-title{
    font-size: 18px;
}
.button-success,
.button-primary{
  display: inline-block;
  padding: 12px 15px;
  font-size: 14px;
  border-radius: 6px;
  position: relative;
  color:#fff;
  background-color: #1EAB1E;
}
.button-primary{
  background-color: #1858F3; 
}
.button-primary::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 75px;
  transform: translateY(-50%); 
  background-image: url('/assets/img/icons/chevron-right.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
}
.button-success::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%); 
  background-image: url('/assets/img/icons/check.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
}

.custom-toast-text{
  color: #0F172A !important; 
  font-size: 14px;
}


.swal2-close{
  color: #000000;
}
.wallet-popup-inner{
  max-width: 265px;
  border-radius: 15px;
}
.create-post-popup-inner{
  max-width: 875px;
  width: 100%;
  border-radius: 15px;
}
.activity-popup-inner{
  max-width: 655px;
  width: 100%;
  border-radius: 15px;
}

iframe{
  width: 100%;
}


.radio-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-bottom: 10px;
  position: relative;
  font-size: 18px;
}
.radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio {
  height: 16px;
  width: 16px;
  border-radius: 50%; 
  border: 1px solid #E2E8F0;
  position: relative;
  margin-right: 8px;
}

.custom-radio:after {
  content: "";
  position: absolute;
  display: none;
  transform: translate( 37%, 37%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #1858F3;
  transition: all 0.3s ease;
}

.radio:checked + .custom-radio:after {
  display: block;
}


table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px ;
  border-radius: 10px;
  overflow: hidden;
  font-weight: inherit;
}
thead th {
  background-color: #eaf3ff;
  color: #3d5afe;
  padding: 5px 10px;
  text-align: left;
  font-weight: 500;
}
tbody td {
  background-color: #f7faff;
  color: #000;
  padding: 5px 10px;
  text-align: left;
}
tbody tr:last-child td {
  border-bottom: none;
}
tbody td:first-child ,
thead th:first-child  {
  border-bottom: none;
  border-radius: 5px 0 0 5px;
}
tbody td:last-child,
thead th:last-child {
  border-radius: 0 5px 5px 0;
  border-bottom: none;
}
tr{
  border-radius: 10px;
}

.error-page-section{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  margin-bottom: 0;
}
.error-page{
  display: flex;
  position: relative;
  border-radius: 15px;
  /* background-image: url('/assets/img/404-bg.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.error-page-content{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 65px;
  padding: 0 25px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

}
.error-page-content div:nth-child(1){
  margin-bottom: 125px;
  max-width: 376px;
}
.error-page h1{
  margin-top: 70px;
  font-size: 30px;
}
.error-page p{
  margin: 15px 0;
}
.error-page-btn {
  position: relative;
  max-width: 170px;
  z-index: 5;
  padding: 10px 20px;
  padding-left: 35px;
  border-radius: 5px;
  background: rgb(5, 233, 240);
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}
.error-page-btn::after {
  content: '';
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 10px;
  /* background-image: url('/assets/img/icons/finger.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  width: 17px;
  height: 17px;
}
section:first-child{
  margin-top: 0;
}

input::placeholder,
textarea::placeholder {
  color: #94A3B8;
  font-weight: 300 !important;
}
label{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
}
.custom-checkbox {
  position: absolute;
  opacity: 0;
  width: 14px;
  height: 14px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.custom-checkbox + label {
  position: relative;
  padding-left: 25px;
  user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border: 1px solid #E5E7EB;
  border-radius: 2px;
  background: #fff;
  pointer-events: none;
  box-sizing: border-box;
}

.custom-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 5px;
  height: 10px;
  border-right: 2px solid #1858f3;
  border-bottom: 2px solid #1858f3;
  pointer-events: none;
}

.custom-checkbox + label:hover::before {
  border-color: #007bff;
}
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  width: 3px; 
}

/* Стили для "ползунка" (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #101f7e;
  border-radius: 4px; 
}

/* Стили для области скроллбара */
::-webkit-scrollbar-track {
  background: #b6b6b6; 
  border-radius: 4px;
}

/* При наведении мыши на ползунок */
::-webkit-scrollbar-thumb:hover {
  background: #101f7e; 
}
.swal2-input{
  max-width: 250px;
  margin: 0px auto;
  margin-bottom: 10px;
}

.react-icon{
  margin-right: 5px;
}
.button {
  display: flex;
  align-items: center;
  background-color: #1858F3;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.constructor-btn{
  flex: 0 0 auto;
  width: auto;
}
.adittional-btn{
  flex: 0 0 auto;
  width: auto;
  margin-right: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #007bff;
}
.input-wrapper{
  position: relative;
}
.required{
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 12px;
  color: #f3184f !important;
}
.col-error{
  box-shadow: 0 0 6px #ff000026;
}

.cancel-button{
  margin-top: 10px;
  background-color: #f3184f !important;
  color: #fff;
}

/* lecture create modals */

.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  animation: fadeIn 0.3s ease-in-out;
  overflow-y: scroll;
}

.modal-content {
  width: 90%;
  max-width: 700px;
  margin: 40px 0;
  border-radius: 8px;
  background-color: #071257;
  color: #fff;
  animation: slideIn 0.3s ease-in-out;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.modal-close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
}

.modal-form {
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.modal-form sup{
   color: #951717;
}
.modal-form > div:first-of-type{
  border-color: #fff;
}
.modal-form > div:first-of-type span{
  color: #1858f3;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input,
.form-textarea {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-textarea {
  min-height: 130px;
  resize: none;
}

.required {
  color: #f9a8d4;
}

.form-error {
  color: #f9a8d4;
  font-size: 12px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

@keyframes fadeIn {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-wrapper {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  backdrop-filter: blur(2px);
  animation: fadeIn 0.3s ease-in-out;
}

.modal-box {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease-in-out;
  text-align: center;
}

.modal-subtitle {
  font-size: 16px;
  color: #4b5563;
  margin-bottom: 24px;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
}

/* Отмена */
.cancel-btn {
  background-color: #f3f4f6;
  color: #111827;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cancel-btn:hover {
  background-color: #e5e7eb;
}

/* lecture create modals end */

.completed-btn{
  background: #1EAB1E;
  margin: 0 10px;
}
.rewatch-btn{
  background: #4b5563;
  margin: 0 10px;
}
.btn-icon{
  margin-left: 5px;
}
.video-react .video-react-big-play-button {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}
#paypal-button-container{
  margin: 15px 0;
  transition: all 0,3s ease;
}

.page-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f3f3f3;
}

.page-not-found > .inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 40px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.error-image {
  width: 200px;
  margin-bottom: 20px;
}

.error-code {
  font-size: 72px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.error-title {
  font-size: 24px;
  color: #666;
  margin: 10px 0;
}

.error-message {
  font-size: 16px;
  color: #999;
  margin-bottom: 20px;
}

.home-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1858F3;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.home-link:hover {
  background-color: #0056b3;
}
.verify-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 3.5rem);
  background-color: #f5f5f5;
}

.wrapper{
  position: relative;
  margin-bottom: 25px;
  padding: 25px;
  border: 1px solid #DEDEDE;
  border-radius: 15px;
}
.otp-input {
  width: 40px !important;
  height: 48px !important;
  text-align: center;
  font-size: 18px;
  border-radius: 6px; 
  border: 1px solid #ccc;
  color: #000;
  margin: 0 4px; 
}

.otp-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.otp-input:focus {
   border: 1px solid #1c57c5;
}
.otp-btn{
  margin: 0 auto;
}
.form-title{
  margin-bottom: 5px;
}
.verify-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.back-link,
.resend-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}


@media screen and (max-width: 1280px) {
    
}
@media screen and (max-width: 1024px) {
  .page-template{
    display: block;
  }
  .content{
    margin-left: 67px !important;
  }
  .content-inner{
    margin-top: 0;
    padding-top: 100px;
  }
  input, select, textarea{
    font-size: 13px;
  }
  .table-wrapper{
    overflow-x: auto;
    width: 100%;
  }
  table{ display: block;
    overflow-x: auto;
    width: 100%;
    min-width: 1000px; 
    border-collapse: collapse;
  }
  tbody td{
    padding: 7px 12px;
  }
  .secondary-title{
    font-size: 19px;
  }
}
@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
  .wrapper{
    padding: 15px;
  }
   .secondary-title{
    font-size: 16px;
  }
   .button{
      padding: 10px 5px;
      font-size: 12px;
  }
}